html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    max-width: 2400px;
    height: auto;
    margin: 0;
    font-size: 20px;
  }
  
  body {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    color: #394053;
    background-color: #394053;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  /*Artikkel struktur*/

  header {

    text-align: right;
      padding: 0;
      margin-bottom: 1rem;
      width: 100%;
      background-position: center center;
      background-size: cover;
  }

  #headerContent {
    width: 100%;
    height: 80%;
    overflow: hidden;
    position: relative;
  }

  video {
    position: relative;
    width: 100%;
    height: 50%;
    min-width: 100%;
    min-height: 50%;
    margin: 0;
    padding: 0;
    z-index:-1;
}


  section {
    color: #1f1f1f;
    background-color: #394053;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  h1 {
    text-align: right;
    font-size: 12vh;
    margin-top: -100px;
    padding: 20px;
    font-family: 'Lato', cursive;
    color: #f2f2f2;
  }
  .klementittel {
    text-align: right;
    font-size: 12vh;
    margin-top: -80px;
    padding: 20px;
    font-family: 'Lato', cursive;
    color: #f58e3a;
  }
  h2 {
    width: 94%;
    max-width: 40rem;
    margin: 2rem auto;
    font-size: 1.4rem;
    font-family: 'Barlow', sans-serif;
    line-height: 1.5;
    color:rgb(255, 246, 239);
  }
  h1 span {
    white-space: nowrap;
  }
  h3 {
    width: 94%;
    max-width: 40rem;
    margin: 2rem auto;
    font-size: 1.4rem;
    font-family: 'Barlow', sans-serif;
    line-height: 1.5;
    font-weight: normal;
  }
  
  .artikkel-wrap{
    width: 100%;
    margin: 0;
  }
  
  a {
    width: 100%;
    max-width: 40rem;
    margin: 0;
    text-decoration: none;
    color:#222222;
  }
  
  p {
    width: 100%;
    max-width: 40rem;
    margin: 1rem auto;
    font-size: 1.4rem;
    font-family: 'Barlow', sans-serif;
    line-height: 1.6;
    color: rgb(255, 246, 239);
  }
  
  .flex-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 1000px;
  }

  /* IMG */
  
  .bilde p{
    font-size: 0.7rem;
    padding-bottom: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 100px;
    
  }
  img.contained {
    width: 100%;
    max-width: 50rem;
    margin: 0;
    font-size: 0.8rem;
    display: block;
  }

  